<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <title>Proyecto Base</title>
        <link rel="stylesheet" href="../../../assets/css/jquery-ui.min.css">
        <link rel="stylesheet" href="../../../assets/css/main.css" media="all">
        <link rel="stylesheet" href="../../../assets/css/style.css" media="all">
    </head>

    <body>

        
    <div class="cmp-tarjeta">
        <div class="tarjeta">
        <div class="cabeceraTarjeta">
            <div class="prueba">
                <div class="descuento">           
                    <div>
                  
                            <p>Textoaaaaa</p>
                        
                        <h3> 00%</h3>
                    </div>
                </div>
            </div>
            <img src="https://images.pexels.com/photos/793012/pexels-photo-793012.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
           </div>
           <div class="textoTarjeta">
                <h4>Título</h4>
                <p>breve descripción del producto ipción del productoipción del productoipción del productoipción del productoipción del producto</p>
           </div>
           <div class="Selectores">
              <div class="selectUnidades">
                
               <label for="unidades"> UNIDADES</label>
                <select id="unidades" name="unidades">
               
                    <option value="0"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                   
                </select>
                </div>

                 <div class="selectCarrito">
                <img src="https://cdn-icons-png.flaticon.com/512/134/134561.png">
                <select>
                    <option value="0"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                </div>
           </div>
        <div>
    </div>
   


        <script src="../../../assets/js/jquery.min.js"></script>
        <script src="../../../assets/js/jquery-ui.min.js"></script>
        <script src="../../../assets/js/main.js"></script>      
                

    </body>

</html>