{% extends "../../../template/template.twig" %}

{% block page %}
    <div class="cmp-tarjeta">
        <div class="tarjeta">
            <div class="descuento">
           
            <div>
                 <p>texto</p>
                <h3> 10%</h3>
            </div>
            </div>

            <img src="https://images.pexels.com/photos/793012/pexels-photo-793012.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
           <div class="textoTarjeta">
                <h4>titulo</h4>
                <p>breve descripción del producto ipción del productoipción del productoipción del productoipción del productoipción del producto</p>
           </div>
           <div>
              <div class="SelectUnidades">
                
                <select>
                    <option value="0">Select car:</option>
                    <option value="1">Audi</option>
                    <option value="2">BMW</option>
                    <option value="3">Citroen</option>
                    <option value="4">Ford</option>
                    <option value="5">Honda</option>
                    <option value="6">Jaguar</option>
                    <option value="7">Land Rover</option>
                    <option value="8">Mercedes</option>
                    <option value="9">Mini</option>
                    <option value="10">Nissan</option>
                    <option value="11">Toyota</option>
                    <option value="12">Volvo</option>
                </select>
                </div>
           </div>
        <div>
    </div>
   
{% endblock %}