@import "../../../_scss/variables/colors";
@import "../../../_scss/utilities/_fonts.scss";

.cmp-tarjeta{
   
    .tarjeta{
        display: flex;
        flex-direction: column;
        margin: 0 12px 0 0;
        width: 300px;
        height: 340;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
        .cabeceraTarjeta{
            img{
                width: 300px;
                height: 180px;
            }
            .prueba{
             
                height: 50px;
                width: 110px;
                position: absolute;
                margin-left: 190px;
                margin-top: 20px;

                .descuento{
                    
                    z-index: 100;
                    width: 110px;
                    height: 50px;
                    background-color:map-get($colors,bida-tarjetaNaranjaFondo) ;
                    position: absolute;
                    align-items: flex-end;
                    word-wrap: break-word;
                    overflow: hidden;
                    div{
                        box-sizing: border-box;
                        position: relative;
                        margin-left: 10%;
                        width: 100%;
                        height: 100%;
                        background-color:map-get($colors,bida-tarjetaNaranja);
                        
                        padding-left: 10px;
                        padding-top: 10px;
                        color: map-get($colors,white);
                   
                        p{
                            
                            font-size: 10px;
                            position: absolute;
                            right: 78px;
                            top: 8px;
                            opacity: 0.7;
                        }
                        h3{
                            font-size: 25px;
                            color: white;
                            position: absolute;
                            top: 20px;
                            right: 54px;
                        }
                    }
                }
            }
           
        }
        
        .textoTarjeta{
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            margin-right: 30px;
            margin-top: 15px;
            text-align: justify;

            h4{
                margin-top: 10px;
                margin-bottom: 15px;
                font-weight: bold;
                font-size: 14px;
            }

            p{
                font-size: 14px;
                font-family: 'OpenSans-Regular';
                margin-bottom: 20px;
            }
        }

        
       .Selectores{

           display: flex;
           flex-direction: row;
           justify-content: flex-end;
          

           .selectUnidades{
               margin-top: 10px;
               margin-right: 9px;
               border: solid 1px map-get($colors,bida-selectCarro);
                padding: 9px;
                width: 101px;
                height: 26px;
                margin-bottom: 30px;
                display: flex;
                flex-direction: row;
                label{
                    margin-top: 6px;
                }
               select{
                   margin-top: 5px;
                   width: 20px;
                   border: none;
               }
           }

           .selectCarrito{
            margin-right: 20px;
            margin-top: 10px;
            padding: 10px;
            background-color: map-get($colors,bida-selectCarro);
            width: 65px;
            height: 26px;
            display: flex;
            flex-direction: row;
            img{
                margin-top: 5px;
               margin-left: 10px;
                filter: invert(1);
                width: 20px;
                height:20px;
            }
               select{
                   margin-left: 10px;
                   margin-top: 7px;
                    width: 20px;
                    border: none;
                    background-color: transparent;
                    font-size: 14px;
               }
           }
       }
    }
}