@import "../../../_scss/variables/colors";

.cmp-tarjeta{
   
    .tarjeta{
        display: flex;
        flex-direction: column;
        margin: 0 12px 0 0;
        width: 300px;
        height: 340;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
     
        img{
            width: 300px;
            height: 180px;
        }
        .textoTarjeta{
            display: flex;
            flex-direction: column;
            margin-left: 10px;
            margin-right: 30px;
            text-align: justify;

            h4{
                margin-top: 10px;
                margin-bottom: 10px;
                font-weight: bold;
                font-size: 14px;
            }

            p{
                font-size: 14px;
                margin-bottom: 15px;
            }
        }

        .descuento{
            top: 20px;
            right: 990px;
            z-index: 100;
            height: 50px;
            width: 110px;
            background-color:map-get($colors,bida-tarjetaNaranjaFondo);
            position: absolute;
            align-items: flex-end;
            div{
               
                position: relative;
                margin-left: 10%;
                width: 90%;
                height: 100%;
                background-color:map-get($colors,bida-tarjetaNaranja);
                text-align: left;
                padding-left: 10px;
                color: map-get($colors,white);
                p{
                    
                    font-size: 10px;
                }
                h3{
                    font-size: 20px;
                    color: white;
                    position: absolute;
                   top: 20px;
                }
            }
        }
       .Selectores{

           display: flex;
           flex-direction: row;
           justify-content: flex-end;
          

           .selectUnidades{
               margin-top: 10px;
               margin-right: 20px;
               border: solid 1px map-get($colors,bida-selectCarro);
                padding: 9px;
                width: 101px;
                height: 26px;
                margin-bottom: 30px;
                
               select{
                   margin-top: 10px;
                   width: 20px;
                   border: none;
               }
           }

           .selectCarrito{
            margin-right: 20px;
            margin-top: 10px;
            padding: 10px;
            background-color: map-get($colors,bida-selectCarro);
            width: 70px;
            height: 26px;
            img{
                margin-right:20px;
               
                filter: invert(1);
                width: 20px;
                height:23px;
            }
               select{
                   margin-bottom: 5px;
                    width: 20px;
                    border: none;
                    background-color: transparent;
                    font-size: 14px;
               }
           }
       }
    }
}