{% extends "../../../template/template.twig" %}

{% block page %}
    <div class="cmp-tarjeta">
        <div class="tarjeta">
            <div class="descuento">
           
            <div>
                 <p>texto</p>
                <h3> 10%</h3>
            </div>
            </div>

            <img src="https://images.pexels.com/photos/793012/pexels-photo-793012.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500">
           <div class="textoTarjeta">
                <h4>titulo</h4>
                <p>breve descripción del producto ipción del productoipción del productoipción del productoipción del productoipción del producto</p>
           </div>
           <div class="Selectores">
              <div class="selectUnidades">
                
               <label for="unidades"> Unidades</label>
                <select id="unidades" name="unidades">
               
                    <option value="0"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                   
                </select>
                </div>

                 <div class="selectCarrito">
                <img src="https://cdn-icons-png.flaticon.com/512/134/134561.png">
                <select>
                    <option value="0"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                </div>
           </div>
        <div>
    </div>
   
{% endblock %}