{% extends "../../../template/template.twig" %}

{% block page %}

<div class="cmp-cardsicon">

<h2>Cards Icon</h2>

<br>

<h3>Acceso a segundo nivel</h3>
    <div class="ContenedorPrincipal">
    <div class="Columna">
    <div class="contenedorCard ">
        <div class="contenedorCardG orangeCard">
                <img src="https://cdn-icons.flaticon.com/png/512/2435/premium/2435267.png?token=exp=1649232068~hmac=245568fddff12581881fcd60f8d0fe33">
                <h4>Pedidos</h4>
        </div>

        <div class="contenedorCardP orangeCard">
        <img src="https://cdn-icons.flaticon.com/png/512/3114/premium/3114931.png?token=exp=1649232818~hmac=3eeac642ed3cfa852f288d57b6e76689">
        </div>

    </div>

    <div class="contenedorCard ">
        <div class="contenedorCardG blueCard">
                <img src="https://cdn-icons.flaticon.com/png/512/2435/premium/2435267.png?token=exp=1649232068~hmac=245568fddff12581881fcd60f8d0fe33">
                <h4>Farmacuenta</h4>
        </div>

        <div class="contenedorCardP blueCard">
        <img src="https://cdn-icons.flaticon.com/png/512/3114/premium/3114931.png?token=exp=1649232818~hmac=3eeac642ed3cfa852f288d57b6e76689">
        </div>

    </div>

      <div class="contenedorCard ">
        <div class="contenedorCardG redCard">
                <img src="https://cdn-icons.flaticon.com/png/512/2435/premium/2435267.png?token=exp=1649232068~hmac=245568fddff12581881fcd60f8d0fe33">
                <h4>Avantia</h4>
        </div>

        <div class="contenedorCardP redCard">
        <img src="https://cdn-icons.flaticon.com/png/512/3114/premium/3114931.png?token=exp=1649232818~hmac=3eeac642ed3cfa852f288d57b6e76689">
        </div>

    </div>


    </div>

       <div class="Columna">

    <div class="contenedorCard ">
        <div class="contenedorCardG aquamarineCard">
                <img src="https://cdn-icons.flaticon.com/png/512/2435/premium/2435267.png?token=exp=1649232068~hmac=245568fddff12581881fcd60f8d0fe33">
                <h4>Bitransfer</h4>
        </div>

        <div class="contenedorCardP aquamarineCard">
        <img src="https://cdn-icons.flaticon.com/png/512/3114/premium/3114931.png?token=exp=1649232818~hmac=3eeac642ed3cfa852f288d57b6e76689">
        </div>

    </div>

      <div class="contenedorCard ">
        <div class="contenedorCardG yellowGCard">
                <img src="https://cdn-icons.flaticon.com/png/512/2435/premium/2435267.png?token=exp=1649232068~hmac=245568fddff12581881fcd60f8d0fe33">
                <h4>Bidafarma</h4>
        </div>

        <div class="contenedorCardP yellowGCard">
        <img src="https://cdn-icons.flaticon.com/png/512/3114/premium/3114931.png?token=exp=1649232818~hmac=3eeac642ed3cfa852f288d57b6e76689">
        </div>

    </div>

      <div class="contenedorCard ">
        <div class="contenedorCardG limeCard">
                <img src="https://cdn-icons.flaticon.com/png/512/2435/premium/2435267.png?token=exp=1649232068~hmac=245568fddff12581881fcd60f8d0fe33">
                <h4>Bida informática</h4>
        </div>

        <div class="contenedorCardP limeCard">
        <img src="https://cdn-icons.flaticon.com/png/512/3114/premium/3114931.png?token=exp=1649232818~hmac=3eeac642ed3cfa852f288d57b6e76689">
        </div>

    </div>


    </div>
    </div>
</div>

{% endblock %}