/* Convert pixels to rem */
@function rem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

@mixin text-clamp($lines: 2, $line-height: false) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;

    @if $line-height {
        max-height: $line-height * $lines * 1px;
    }
}