@import "../../../_scss/variables/colors";
.cmp-devoluciones{
    width: 617px;
    h2{
        font-size: 21px;
        color:map-get($colors,black-2);
        margin-bottom: 10px;
        margin-top: 10px;
    }
   h4{
       margin-top: 30px;
       text-align: end;
   }
   a{
    font-size: 14px;
       color:map-get($colors,black-3);
       text-decoration: none;
   }

   .ContenedorPrincipal{
    display: flex;
    width: 617px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    .cabecera{
        background-color: map-get($colors,bida-whiteGrey);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 1px;
        text-align: center;
        height: 43px;

        h2{
         opacity: 0.5;
         margin-top: 14px;
         margin-left: 25px;
         margin-right: 78px;
         font-size: 13px;
        }
    }

    .cuerpo{
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
      
        .DatosColumn{
         
         width: 100%;
         height: auto;
         word-wrap: break-word;
         overflow: hidden;
         display: inline;
         margin-top: 10px;
         margin-bottom: 10px;
         
         ul{
            font-size: 12px;
            display: flex;
            flex-direction: row;
       
         .item{
             margin-right: 76px;
             margin-left: 22px;
             margin-top: 10px;
            
             display: inline;
         }
         .itemEnd{
             margin-left: 25px;
             margin-top: 10px;
            
             display: inline;
         }

             li{
                 margin-top: 20px;
                 margin-bottom: 15px;
                 display: inline;

                 div{
                    display: flex;
                    flex-direction: column;
                }
             }
        }
     }
    }
}
}