@import "../../../_scss/variables/colors";
.cmp-devoluciones{
    h2{
        color:map-get($colors,black-2);
        margin-bottom: 10px;
        margin-top: 10px;
    }
    width: 500px;
   table{
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
       width: 500px;
       border: 1px solid map-get($colors,bida-thead);
       border-radius: 1px;
       border-collapse: collapse;
    
       thead{
           background-color: map-get($colors,bida-thead);
        
       }
       th{
           opacity: 0.5;
       }
        th, td{
           padding: 10px;
           text-align: center;
        }
   }
   h4{
       margin-top: 10px;
       text-align: right;
   }
   a{
       color:map-get($colors,black-3);
       text-decoration: none;
   }
}