.cmp-devoluciones {
  width: 500px; }
  .cmp-devoluciones h2 {
    color: #656D70;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; }
  .cmp-devoluciones table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    border: 1px solid lightgray;
    border-radius: 5px;
    border-collapse: collapse; }
    .cmp-devoluciones table thead {
      background-color: lightgrey; }
    .cmp-devoluciones table th, .cmp-devoluciones table td {
      padding: 10px;
      text-align: center; }
  .cmp-devoluciones h4 {
    text-align: right; }
  .cmp-devoluciones a {
    color: #656D70;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none; }
