{% extends "../../../template/template.twig" %}

{% block page %}
    <div class="cmp-devoluciones">
        <h2>Devoluciones</h2>
         <div class="ContenedorPrincipal">

            <div class="cabecera">
                <div>
                    <h2>Número ID</h2>
                </div>

                 <div>
                    <h2>Fecha</h2>
                </div>

                 <div>
                    <h2>Importe</h2>
                </div>

                 <div>
                    <h2>Estado</h2>
                </div>
            </div>
            
            <div class="cuerpo">
                <div class="DatosColumn">
                    <ul>
                        <li>Nº66369889</li>
                        <li>Nº66369889</li>
                        <li>Nº66369889</li>
                        <li>Nº66369889</li>
                        <li>Nº66369889</li>
                    </ul>
                </div>

                <div class="DatosColumn">
                    <ul>
                        <li>18/02/2019</li>
                        <li>18/02/2019</li>
                        <li>18/02/2019</li>
                        <li>18/02/2019</li>
                        <li>18/02/2019</li>
                        
                    </ul>
                </div>

                <div class="DatosColumn">
                    <ul>
                        <li>188,65€</li>
                        <li>188,65€</li>
                        <li>188,65€</li>
                        <li>188,65€</li>
                        <li>188,65€</li>
                        
                    </ul>
                </div >

                <div class="DatosColumn">
                    <ul>
                        <li>Pendiente</li>
                        <li>Pendiente</li>
                        <li>Pendiente</li>
                        <li>Pendiente</li>
                        <li>Pendiente</li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <h4><a href="">Ver todos<a></h4>
    </div>
   
{% endblock %}