{% extends "../../../template/template.twig" %}

{% block page %}

<div class="contenedor-textowidget">
<span class="widget-mini">Widget Mini </span>
<span>Acceso a páginas de tercer nivel</span>
</div>

<article class="cmp-minicards">
<div class="minicards lightorange">
  <div class="minicards-imagen darkorange">
    <img class="configuracion" src="https://cdn-icons-png.flaticon.com/512/2099/2099058.png">
  </div>
  <span class="minicards-texto">
  Pedidos
</span>
</div>

<div class="minicards skyblue">
  <div class="minicards-imagen darkskyblue">
    <img class="configuracion" src="https://cdn-icons-png.flaticon.com/512/2099/2099058.png">
  </div>
  <span class="minicards-texto">
  Bitransfer
</span>
</div>

<div class="minicards aquamarine">
  <div class="minicards-imagen darkaquamarine">
    <img class="configuracion" src="https://cdn-icons-png.flaticon.com/512/2099/2099058.png">
  </div>
  <span class="minicards-texto">
  Farmacuenta
</span>
</div>

<div class="minicards yellowgreen">
  <div class="minicards-imagen darkyellowgreen">
    <img class="configuracion" src="https://cdn-icons-png.flaticon.com/512/2099/2099058.png">
  </div>
  <span class="minicards-texto">
  Bidafarma
</span>
</div>

<div class="minicards crimson">
  <div class="minicards-imagen darkcrimson">
    <img class="configuracion" src="https://cdn-icons-png.flaticon.com/512/2099/2099058.png">
  </div>
  <span class="minicards-texto">
  Avantia
</span>
</div>

<div class="minicards lime">
  <div class="minicards-imagen darklime">
    <img class="configuracion" src="https://cdn-icons-png.flaticon.com/512/2099/2099058.png">
  </div>
  <span class="minicards-texto">
  Bida Informática
</span>
</div>
</article>
{% endblock %}