$colors: (
/** primary colors **/

white: #ffffff, black: #000000, black-2: #333333, black-3:#4a4a4a,
/** App colors **/

bida-grey: #3b3e47, bida-green:#bcd042, bida-red: #ff533d, bida-whiteGrey:#ececec, bida-darkorange:#e19700, bida-orange:#f6a500, bida-lightorange: #e4b143, bida-darkblue: #254369, bida-fuchsia: #930663, bida-yellow: #bcd042, bida-creamyellow: #faffdb, bida-skyblue: #86c2d4, bida-darkskyblue: #7ab8c6, bida-crimson:#cc5a3e, bida-darkcrimson:#c04f3a, bida-aquamarine:#85b9ae, bida-darkaquamarine:#79a99d, bida-yellowgreen:#c2d050, bida-darkyellowgreen:#bbc44a, bida-lime:#8db63c, bida-darklime:#82a63c, )
