$colors: (

    /** primary colors **/
    white: #ffffff,
    black: #000000,
    black-2: #333333,
    black-3:#4a4a4a,
    

    /** App colors **/
    bida-grey: #3b3e47,
    bida-header:#bcd042,
    bida-redNotification: #ff533d,
    bida-thead:#ececec,
    bida-tarjetaNaranjaFondo:#e19700,
    bida-tarjetaNaranja:#f6a500,

)
