{% extends "../../../template/template.twig" %}

{% block page %}
<article class="cmp-eventos">
<p class="eventos-titulo">Eventos</p>
<div id="datepicker">
</div>
<p class="eventos-vertodo">VER TODOS</p>
</article>

<script src="eventos.js"></script>
{% endblock %}