
.cmp-title{
    header {
        box-sizing: border-box;
        background-color: #bcd042;
        padding:10px;
        display:flex;
        justify-content:space-between;
        font-size:20px;
        height:50px;
        margin-bottom:12px;
          .buscador{
            display:flex;
            justify-content: space-between;
            
            .divbuscador{
                display: flex;
                margin-left: 50px;
                
                height: 30px;
                background-color: #FCF7F6;
                opacity: 0.9;   
                .imgbuscador{
                    filter: invert(0);
                    width:15px;
                    height: 15px;
                    margin-left: 8px;
                    margin-top: 8px;
                
                }
               
            input{
                
                height: 15px;
                margin-top: 3px;
                background-color: #FCF7F6;
                border: none;  
                        
                padding: 5px;    
            }
        }
 
               .iconmenu{
                filter: invert(1);
                 margin-right:14px;
                 margin-left:10px;
               
                 margin-bottom: 10px;
                 width:30px;
                 height:30px;
               }
            }
            .redicon{
                background: red;
                padding:7px;
                box-sizing: border-box;
                border-radius: 100%;
                font-size: 10px;
                font-weight: bold;
                color: white;
            
            &.carrito{
                position: absolute;
                top: 10px;
                right: 140px;
                z-index: 100;
            }
            &.campana{
                position: absolute;
                top: 10px;
                right: 85px;
                z-index: 100;
            }
            &.sinNotificacion{
                display: none;
            }
      }
        img{    
                 margin-right:20px;
                 filter: invert(1);
                 width: 30px;
                 height:30px;
               }
           
      }

      
}