{% extends "../../../template/template.twig" %}

{% block page %}
    <div class="cmp-title">
   <header>
  <div class="buscador">
  <img class="iconmenu" src="https://cdn-icons-png.flaticon.com/512/149/149945.png">
  <div class="divbuscador">
  <img class="imgbuscador" src="https://cdn-icons-png.flaticon.com/512/149/149401.png">
  <input type="text"placeholder="Buscar..">
  </div>
  </div>
  <div class="iconos">
    

    <div>
    <div class="redicon activo campana">1</div>
      <a href="direccionCarrito"><img src="https://cdn-icons-png.flaticon.com/512/134/134561.png"></a>
    </div>
    <div>
    <div class="redicon activo carrito">2</div>
    <a href="direccionNotificaciones"><img src="https://cdn-icons-png.flaticon.com/512/149/149301.png"></a>
    </div>
      <a href="direccionPerfil"><img src="https://cdn-icons-png.flaticon.com/512/149/149453.png"></a>
  </div>
    </header>
    </div>
   
{% endblock %}

