<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <title>Proyecto Base</title>
        <link rel="stylesheet" href="../../../assets/css/jquery-ui.css">
        <link rel="stylesheet" href="../../../assets/css/main.css" media="all">
        <link rel="stylesheet" href="../../../assets/css/style.css" media="all">
    </head>

    <body>

        
    <div class="cmp-title">
   <header>
  <div class="buscador">
  <img class="iconmenu" src="https://cdn-icons-png.flaticon.com/512/149/149945.png">
  <div class="divbuscador">
  <img class="imgbuscador" src="https://cdn-icons-png.flaticon.com/512/149/149401.png">
  <input type="text"placeholder="Buscar..">
  </div>
  </div>
  <div>
  <div class="redicon activo carrito">2</div>
   <div class="redicon activo campana">1</div>
    <a href="direccionCarrito"><img src="https://cdn-icons-png.flaticon.com/512/134/134561.png"></a>
  <a href="direccionNotificaciones"><img src="https://cdn-icons-png.flaticon.com/512/149/149301.png"></a>
    <a href="direccionPerfil"><img src="https://cdn-icons-png.flaticon.com/512/149/149453.png"></a>
  </div>
    </header>
    </div>
   


        <script src="../../../assets/js/jquery.min.js"></script>
        <script src="../../../assets/js/jquery-ui.js"></script>
        <script src="../../../assets/js/main.js"></script>      
                

    </body>

</html>