@import "../../../_scss/variables/colors";

.cmp-title{
    @media (max-width: 1000px){
        header{
                /* Reverse the axis of the header, making it vertical. */
                flex-direction: column;
                
                /* Align items to the begining (the left) of the header. */
                align-items: flex-start;
        }
        .iconos{
            width: 100%;
        }
}
    header {
        box-sizing: border-box;
        background-color: map-get($colors,bida-header);
        padding:10px;
        display:flex;
        justify-content:space-between;
        font-size:20px;
        height:50px;
        margin-bottom:12px;
        width: 100%;
        

     
          .buscador{
            display:flex;
            justify-content: space-between;
            
            .divbuscador{
                display: flex;
                margin-left: 50px;
                
                height: 30px;
                background-color: map-get($colors,white);
                opacity: 0.9;   
                .imgbuscador{
                    filter: invert(0);
                    width:15px;
                    height: 15px;
                    margin-left: 8px;
                    margin-top: 8px;
                
                }
               
            input{
                
                height: 15px;
                margin-top: 3px;
                background-color:map-get($colors,white);
                border: none;  
                        
                padding: 5px;    
            }
        }
           
            }

            .iconos{
                background-color: map-get($colors,bida-header);
                display: flex;
                padding: 10px;
                float: right;
            
               .iconmenu{
                filter: invert(1);
                 margin-right:14px;
                 margin-left:10px;
               
                 margin-bottom: 10px;
                 width:30px;
                 height:30px;
               }
            .redicon{
                background:map-get($colors,bida-redNotification);
                padding:7px;
                box-sizing: border-box;
                border-radius: 100%;
                font-size: 10px;
                font-weight: bold;
                color: white;
            
            &.carrito{
                position: absolute;
                top: 5px;
                right: 135px;
                z-index: 100;
            }
            &.campana{
                position: absolute;
                top: 5px;
                right: 85px;
                z-index: 100;
            }
            &.sinNotificacion{
                display: none;
            }
      }}
    
        img{    
                 margin-right:20px;
                 filter: invert(1);
                 width: 30px;
                 height:30px;
               }
           
      }

      
}