.cmp-devoluciones {
  width: 500px;
}

.cmp-devoluciones h2 {
  color: #333333;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cmp-devoluciones table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  border: 1px solid #ececec;
  border-radius: 1px;
  border-collapse: collapse;
}

.cmp-devoluciones table thead {
  background-color: #ececec;
}

.cmp-devoluciones table th {
  opacity: 0.5;
}

.cmp-devoluciones table th,
.cmp-devoluciones table td {
  padding: 10px;
  text-align: center;
}

.cmp-devoluciones h4 {
  margin-top: 10px;
  text-align: right;
}

.cmp-devoluciones a {
  color: #4a4a4a;
  text-decoration: none;
}
.cmp-pedidos {
  width: 500px;
}

.cmp-pedidos h2 {
  color: #333333;
  margin-bottom: 10px;
  margin-top: 10px;
}

.cmp-pedidos table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  border: 1px solid #ececec;
  border-radius: 5px;
  border-collapse: collapse;
}

.cmp-pedidos table thead {
  background-color: #ececec;
}

.cmp-pedidos table th {
  opacity: 0.5;
}

.cmp-pedidos table th,
.cmp-pedidos table td {
  padding: 10px;
  text-align: center;
}

.cmp-pedidos h4 {
  margin-top: 10px;
  text-align: right;
}

.cmp-pedidos a {
  color: #4a4a4a;
  text-decoration: none;
}
.cmp-tarjeta .tarjeta {
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cmp-tarjeta .tarjeta img {
  width: 300px;
  height: 180px;
}

.cmp-tarjeta .tarjeta .textoTarjeta {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 30px;
  text-align: justify;
}

.cmp-tarjeta .tarjeta .descuento {
  top: 20px;
  right: 990px;
  z-index: 100;
  height: 50px;
  width: 110px;
  background-color: #e19700;
  position: absolute;
  align-items: flex-end;
}

.cmp-tarjeta .tarjeta .descuento div {
  position: relative;
  margin-left: 10%;
  width: 90%;
  height: 100%;
  background-color: #f6a500;
  text-align: left;
  padding-left: 10px;
  color: #ffffff;
}

.cmp-tarjeta .tarjeta .descuento div p {
  font-size: 10px;
}

.cmp-tarjeta .tarjeta .descuento div h3 {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 20px;
}

.cmp-tarjeta .tarjeta .SelectUnidades {
  width: 200px;
}
.cmp-title header {
  box-sizing: border-box;
  background-color: #bcd042;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  height: 50px;
  margin-bottom: 12px;
}

.cmp-title header .buscador {
  display: flex;
  justify-content: space-between;
}

.cmp-title header .buscador .divbuscador {
  display: flex;
  margin-left: 50px;
  height: 30px;
  background-color: #ffffff;
  opacity: 0.9;
}

.cmp-title header .buscador .divbuscador .imgbuscador {
  filter: invert(0);
  width: 15px;
  height: 15px;
  margin-left: 8px;
  margin-top: 8px;
}

.cmp-title header .buscador .divbuscador input {
  height: 15px;
  margin-top: 3px;
  background-color: #ffffff;
  border: none;
  padding: 5px;
}

.cmp-title header .buscador .iconmenu {
  filter: invert(1);
  margin-right: 14px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 30px;
  height: 30px;
}

.cmp-title header .redicon {
  background: #ff533d;
  padding: 7px;
  box-sizing: border-box;
  border-radius: 100%;
  font-size: 10px;
  font-weight: bold;
  color: white;
}

.cmp-title header .redicon.carrito {
  position: absolute;
  top: 5px;
  right: 135px;
  z-index: 100;
}

.cmp-title header .redicon.campana {
  position: absolute;
  top: 5px;
  right: 85px;
  z-index: 100;
}

.cmp-title header .redicon.sinNotificacion {
  display: none;
}

.cmp-title header img {
  margin-right: 20px;
  filter: invert(1);
  width: 30px;
  height: 30px;
}
.cmp-home {
  margin: 16px;
}
.cmp-title h1 {
  font-family: "OpenSans-Light";
  color: #3b3e47;
  font-size: 24px;
}