.cmp-home {
  margin: 16px;
}
nav {
  background: #254369;
  width: 50px;
  height: 1958px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

nav input {
  display: none;
}

nav label {
  width: 20px;
  margin-top: 20px;
  margin-left: 15px;
}

nav label img {
  width: 20px;
  filter: invert(1);
}

nav ul.navegador {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: auto;
  list-style: none;
  margin-top: 20px;
  padding-left: 15px;
}

nav ul.navegador li {
  display: flex;
  margin-bottom: 10px;
}

nav ul.navegador li .navegador-opcion {
  display: flex;
}

nav ul.navegador li .navegador-opcion img {
  width: 20px;
  margin-right: 40px;
  margin-bottom: 10px;
  max-height: 20px;
  filter: invert(1);
}
footer {
  display: flex;
  background: #bcd042;
  justify-content: flex-end;
  height: 30px;
}

footer p {
  margin-right: 10px;
  margin-top: 10px;
}
.notificaciones {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.notificaciones .notificaciones-titulo {
  font-size: 21px;
  font-weight: bold;
}

.notificaciones ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

.notificaciones ul .notificacion {
  display: flex;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}

.notificaciones ul .notificacion.active {
  background: #faffdb;
}

.notificaciones ul .notificacion .notificacion-advertencia {
  display: flex;
  background-color: #930663;
  width: 40px;
  height: 40px;
}

.notificaciones ul .notificacion .notificacion-advertencia img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  filter: invert(1);
}

.notificaciones ul .notificacion .notificacion-informacion {
  display: flex;
  background: #bcd042;
  width: 40px;
  height: 40px;
}

.notificaciones ul .notificacion .notificacion-informacion img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  filter: invert(1);
}

.notificaciones ul .notificacion .notificacion-texto {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.notificaciones ul .notificacion .notificacion-texto p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  size: 14px;
}

.notificaciones ul .notificacion .notificacion-texto .notificacion-texto-informacion {
  font-weight: bold;
}

.notificaciones .notificaciones-vertodo {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.cmp-title h1 {
  font-family: "OpenSans-Light";
  color: #3b3e47;
  font-size: 24px;
}