@import "../../../_scss/variables/colors";
.cmp-notificaciones {
    display: flex;
    flex-direction: column;
    width: 300px;
    .notificaciones-titulo {
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-block-start: 0;
        margin-top: 10px;
        padding-inline-start: 0;
        .notificacion {
            display: flex;
            margin-bottom: 10px;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
            &.active {
                background: map-get($colors, bida-seleccionado);
            }
            .notificacion-advertencia {
                display: flex;
                background-color: map-get($colors, bida-advertencia);
                min-width: 40px;
                align-items: center;
                justify-content: center;
                img {
                    width: 20px;
                    height: 20px;
                    filter: invert(1);
                }
            }
            .notificacion-informacion {
                display: flex;
                background: map-get($colors, bida-informacion);
                width: 40px;
                height: 40px;
                img {
                    width: 20px;
                    height: 20px;
                    margin-left: 10px;
                    margin-top: 10px;
                    filter: invert(1);
                }
            }
            .notificacion-texto {
                display: flex;
                flex-direction: column;
                margin-left: 5px;
                span {
                    font-size: 12px;
                }
                .notificacion-texto-informacion {
                    width: 165px;
                    margin: 4px 0 0 0;
                    font-family: "OpenSans-Regular";
                    font-size: 14px;
                    font-weight: bold;
                    line-height: 1.36;
                }
            }
        }
    }
    .notificaciones-vertodo {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
        margin-top: 42px;
    }
}