.cmp-notificaciones {
  display: flex;
  flex-direction: column;
  width: 300px; }
  .cmp-notificaciones .notificaciones-titulo {
    font-size: 21px;
    font-weight: bold; }
  .cmp-notificaciones ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0; }
    .cmp-notificaciones ul .notificacion {
      display: flex;
      margin-bottom: 10px;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45); }
      .cmp-notificaciones ul .notificacion.active {
        background: #faffdb; }
      .cmp-notificaciones ul .notificacion .notificacion-advertencia {
        display: flex;
        background-color: #930663;
        width: 40px;
        height: 40px; }
        .cmp-notificaciones ul .notificacion .notificacion-advertencia img {
          width: 20px;
          height: 20px;
          margin-left: 10px;
          margin-top: 10px;
          filter: invert(1); }
      .cmp-notificaciones ul .notificacion .notificacion-informacion {
        display: flex;
        background: #bcd042;
        width: 40px;
        height: 40px; }
        .cmp-notificaciones ul .notificacion .notificacion-informacion img {
          width: 20px;
          height: 20px;
          margin-left: 10px;
          margin-top: 10px;
          filter: invert(1); }
      .cmp-notificaciones ul .notificacion .notificacion-texto {
        display: flex;
        flex-direction: column;
        margin-left: 5px; }
        .cmp-notificaciones ul .notificacion .notificacion-texto p {
          margin-block-start: 0px;
          margin-block-end: 0px;
          size: 14px; }
        .cmp-notificaciones ul .notificacion .notificacion-texto .notificacion-texto-informacion {
          font-weight: bold; }
  .cmp-notificaciones .notificaciones-vertodo {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px; }
