{% extends "../../../template/template.twig" %}

{% block page %}

<article class="cmp-notificaciones">
  <p class="notificaciones-titulo">Notificaciones</p>
  
  <ul>
    <li class="notificacion active">
    <div class="notificacion-advertencia">
      <img src="https://cdn-icons-png.flaticon.com/512/159/159469.png">
    </div>
    <div class="notificacion-texto">
    <span class="notificacion-texto-informacion">Título de la notificación Título de la notificación Título de la notificación Título de la notificación Título de la notificación Título de la notificación</span>
    <span>3/12/2019</span>
    </div>
    </li>
  
    <li class="notificacion active">
    <div class="notificacion-informacion">
      <img src="https://cdn-icons-png.flaticon.com/512/157/157933.png">
    </div>
    <div class="notificacion-texto">
    <span class="notificacion-texto-informacion">Título de la notificación</span>
    <span>3/12/2019</span>
    </div>
    </li>
  
    <li class="notificacion active">
    <div class="notificacion-advertencia">
      <img src="https://cdn-icons-png.flaticon.com/512/159/159469.png">
    </div>
    <div class="notificacion-texto">
    <span class="notificacion-texto-informacion">Título de la notificación</span>
    <span>3/12/2019</span>
    </div>
    </li>
  
    <li class="notificacion">
    <div class="notificacion-advertencia">
      <img src="https://cdn-icons-png.flaticon.com/512/159/159469.png">
    </div>
    <div class="notificacion-texto">
    <span class="notificacion-texto-informacion">Título de la notificación</span>
    <span>3/12/2019</span>
    </div>
    </li>
  
    <li class="notificacion">
    <div class="notificacion-advertencia">
      <img src="https://cdn-icons-png.flaticon.com/512/159/159469.png">
    </div>
    <div class="notificacion-texto">
    <span class="notificacion-texto-informacion">Título de la notificación</span>
    <span>3/12/2019</span>
    </div>
    </li>
  </ul>
  
  <p class="notificaciones-vertodo">VER TODAS</p>
  
</article>



{% endblock %}