{% extends "../../../template/template.twig" %}

{% block page %}

 <nav class="cmp-nav">
    <label for="mostrar"><img src="https://cdn-icons-png.flaticon.com/512/1828/1828859.png">         </label>
   <input type="checkbox" class="check" id="mostrar">
      
   <ul class="navegador">
     
       <li>
        <div class="navegador-opcion">
         <img src="https://cdn-icons-png.flaticon.com/512/149/149452.png">
        </div>
        <div class="navegador-enlace">
          <a href="#">Enlace Ejemplo</a>
        </div>
      </li>
     
       <li>
        <div class="navegador-opcion">
          <img src="https://cdn-icons-png.flaticon.com/512/149/149226.png">
        </div>
        <div class="navegador-enlace">
          <a href="#">Enlace Ejemplo</a>
        </div>
       </li>
    
    <li>
      <div class="navegador-opcion">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149229.png">
      </div>
      <div class="navegador-enlace">
        <a href="#">Enlace Ejemplo </a>
      </div>
      </li>
     
    <li>
      <div class="navegador-opcion">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149363.png">
      </div>
      <div class="navegador-enlace">
        <a href="#">Enlace Ejemplo </a>
      </div>
    </li>
  </div>
     
    <li>
      <div class="navegador-opcion">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149445.png">
      </div>
      <div class="navegador-enlace">
      <a href="#">Enlace Ejemplo Enlace Ejemplo Enlace Ejemplo Enlace Ejemplo Enlace Ejemplo Enlace Ejemplo Enlace Ejemplo Enlace Ejemplo </a>
      </div>  
      </li>
  </div>
     
    <li>
      <div class="navegador-opcion">
        <img src="https://cdn-icons-png.flaticon.com/512/149/149384.png">
      </div>
      <div class="navegador-enlace">
      <a href="#">Enlace Ejemplo </a>
      </div>
    </li>
  </ul>
 </nav>

{% endblock %}