@import "../../../_scss/variables/colors";
.cmp-nav {
    background: map-get($colors, bida-nav);
    width: 50px;
    height: 1958px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    input {
        display: none;
    }
    label {
        width: 20px;
        margin-top: 20px;
        margin-left: 15px;
        img {
            width: 20px;
            filter: invert(1);
        }
    }
    ul.navegador {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-right: auto;
        list-style: none;
        margin-top: 20px;
        padding-left: 15px;
        li {
            display: flex;
            margin-bottom: 10px;
            .navegador-enlace {
                display: flex;
                margin-top: 5px;
                margin-right: 20px;
                a {
                    text-decoration: none;
                    color: white;
                    display: none;
                }
            }
            .navegador-opcion {
                display: flex;
                img {
                    width: 20px;
                    margin-right: 40px;
                    margin-bottom: 10px;
                    max-height: 20px;
                    filter: invert(1);
                }
            }
        }
    }
}