.cmp-nav {
  background: #254369;
  width: 50px;
  height: 1958px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 10px; }
  .cmp-nav input {
    display: none; }
  .cmp-nav label {
    width: 20px;
    margin-top: 20px;
    margin-left: 15px; }
    .cmp-nav label img {
      width: 20px;
      filter: invert(1); }
  .cmp-nav ul.navegador {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: auto;
    list-style: none;
    margin-top: 20px;
    padding-left: 15px; }
    .cmp-nav ul.navegador li {
      display: flex;
      margin-bottom: 10px; }
      .cmp-nav ul.navegador li .navegador-enlace {
        display: flex;
        margin-top: 5px;
        margin-right: 20px; }
        .cmp-nav ul.navegador li .navegador-enlace a {
          text-decoration: none;
          color: white;
          display: none; }
      .cmp-nav ul.navegador li .navegador-opcion {
        display: flex; }
        .cmp-nav ul.navegador li .navegador-opcion img {
          width: 20px;
          margin-right: 40px;
          margin-bottom: 10px;
          max-height: 20px;
          filter: invert(1); }
