nav {
  background: #254369;
  width: 50px;
  height: 1958px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 10px; }
  nav input {
    display: none; }
  nav label {
    width: 20px;
    margin-top: 20px;
    margin-left: 15px; }
    nav label img {
      width: 20px;
      filter: invert(1); }
  nav ul.navegador {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: auto;
    list-style: none;
    margin-top: 20px;
    padding-left: 15px; }
    nav ul.navegador li {
      display: flex;
      margin-bottom: 10px; }
      nav ul.navegador li .navegador-opcion {
        display: flex; }
        nav ul.navegador li .navegador-opcion img {
          width: 20px;
          margin-right: 40px;
          margin-bottom: 10px;
          max-height: 20px;
          filter: invert(1); }
