<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <title>Proyecto Base</title>
        <link rel="stylesheet" href="../../../assets/css/jquery-ui.css">
        <link rel="stylesheet" href="../../../assets/css/main.css" media="all">
        <link rel="stylesheet" href="../../../assets/css/style.css" media="all">
    </head>

    <body>

        
    <div class="cmp-pedidos">
        <h2>Pedidos</h2>
        <table>
            <thead>
                <tr>
                    <th>Número ID</th>
                    <th>Fecha</th>
                    <th>Importe</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nº66369889</td>
                    <td>18/02/2019</td>
                    <td>188,65€</td>
                    <td>Pendiente</td>
                </tr>
                 <tr>
                    <td>Nº66369889</td>
                    <td>18/02/2019</td>
                    <td>188,65€</td>
                    <td>Pendiente</td>
                </tr>
                 <tr>
                    <td>Nº66369889</td>
                    <td>18/02/2019</td>
                    <td>188,65€</td>
                    <td>Pendiente</td>
                </tr>
                 <tr>
                    <td>Nº66369889</td>
                    <td>18/02/2019</td>
                    <td>188,65€</td>
                    <td>Pendiente</td>
                </tr>
                 <tr>
                    <td>Nº66369889</td>
                    <td>18/02/2019</td>
                    <td>188,65€</td>
                    <td>Pendiente</td>
                </tr>
            </tbody>
        </table>
        <h4><a href="">Ver todos<a></h4>
    </div>
   


        <script src="../../../assets/js/jquery.min.js"></script>
        <script src="../../../assets/js/jquery-ui.js"></script>
        <script src="../../../assets/js/main.js"></script>      
                

    </body>

</html>