.cmp-pedidos {
  width: 500px; }
  .cmp-pedidos h2 {
    color: #333333;
    margin-bottom: 10px;
    margin-top: 10px; }
  .cmp-pedidos table {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    border: 1px solid #ececec;
    border-radius: 5px;
    border-collapse: collapse; }
    .cmp-pedidos table thead {
      background-color: #ececec; }
    .cmp-pedidos table th {
      opacity: 0.5; }
    .cmp-pedidos table th, .cmp-pedidos table td {
      padding: 10px;
      text-align: center; }
  .cmp-pedidos h4 {
    margin-top: 10px;
    text-align: right; }
  .cmp-pedidos a {
    color: #4a4a4a;
    text-decoration: none; }
