@import "../../../_scss/variables/colors";

.cmp-pedidos{
    h2{
        font-size: 21px;
        color:map-get($colors,black-2);
        margin-bottom: 10px;
        margin-top: 10px;
    }
    width: 610px;
   
   h4{
        margin-top: 30px;
       text-align: end;
   }
   a{
       font-size: 14px;
       color:map-get($colors,black-3);
       text-decoration: none;
   }

   .ContenedorPrincipal{
       display: flex;
       width: 617px;
       flex-direction: column;
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

       .cabecera{
           background-color: map-get($colors,bida-thead);
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           border-radius: 1px;
           text-align: center;
           height: 43px;

           h2{
            opacity: 0.5;
            margin-top: 14px;
            margin-left: 10px;
            margin-right: 78px;
            font-size: 13px;
           }
       }

       .cuerpo{
           
           display: flex;
           flex-direction: row;
           justify-content: space-between;
           width: 100%;
         
           .DatosColumn{
            
            width: 100%;
            height: auto;
            word-wrap: break-word;
            overflow: hidden;
            
           ul{
               font-size: 12px;
            margin-left: 30px;
            margin-right: 20px;

                li{
                    margin-top: 20px;
                    margin-bottom: 15px;
                }
           }
        }
       }
   }
}