{% extends "../../../template/template.twig" %}

{% block page %}
    <div class="cmp-pedidos">
        <h2>Pedidos</h2>

        <div class="ContenedorPrincipal">

            <div class="cabecera">
                <div>
                    <h2>Número ID</h2>
                </div>

                 <div>
                    <h2>Fecha</h2>
                </div>

                 <div>
                    <h2>Importe</h2>
                </div>

                 <div>
                    <h2>Estado</h2>
                </div>
            </div>
            
            <div class="cuerpo">
               <div class="DatosColumn">
                    <ul> 
                    <div class="item">
                     <li><div>Nº66369889</div></li>
                     </div>

                     <div class="item">
                        <li><div>18/02/2019</div></li>
                    </div>
                    <div class="item">
                        <li><div>188,65€</div></li>
                    </div>
                    <div class="itemEnd">
                        <li><div>Pendiente</div></li>
                        </div>
                        
                    </ul>
                </div>

                  <div class="DatosColumn">
                    <ul> 
                    <div class="item">
                     <li><div>Nº66369889</div></li>
                     </div>

                     <div class="item">
                        <li><div>18/02/2019</div></li>
                    </div>
                    <div class="item">
                        <li><div>188,65€</div></li>
                    </div>
                    <div class="itemEnd">
                        <li><div>Pendiente</div></li>
                        </div>
                        
                    </ul>
                </div>

                  <div class="DatosColumn">
                    <ul> 
                    <div class="item">
                     <li><div>Nº66369889</div></li>
                     </div>

                     <div class="item">
                        <li><div>18/02/2019</div></li>
                    </div>
                    <div class="item">
                        <li><div>188,65€</div></li>
                    </div>
                    <div class="itemEnd">
                        <li><div>Pendiente</div></li>
                        </div>
                        
                    </ul>
                </div>

                  <div class="DatosColumn">
                    <ul> 
                    <div class="item">
                     <li><div>Nº66369889</div></li>
                     </div>

                     <div class="item">
                        <li><div>18/02/2019</div></li>
                    </div>
                    <div class="item">
                        <li><div>188,65€</div></li>
                    </div>
                    <div class="itemEnd">
                        <li><div>Pendiente</div></li>
                        </div>
                        
                    </ul>
                </div>
            </div>
        </div>
        <h4><a href="">Ver todos<a></h4>
    </div>
   
{% endblock %}