<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <title>Proyecto Base</title>
        <link rel="stylesheet" href="../../../assets/css/jquery-ui.min.css">
        <link rel="stylesheet" href="../../../assets/css/main.css" media="all">
        <link rel="stylesheet" href="../../../assets/css/style.css" media="all">
    </head>

    <body>

        

<footer class="cmp-footer">
<p>Hecho por Israel y Paco</p>
</footer>


        <script src="../../../assets/js/jquery.min.js"></script>
        <script src="../../../assets/js/jquery-ui.min.js"></script>
        <script src="../../../assets/js/main.js"></script>      
                

    </body>

</html>