@import "../../../_scss/variables/colors";
footer {
    display: flex;
    background: map-get($colors, bida-informacion);
    justify-content: flex-end;
    height: 30px;
    p {
        margin-right: 10px;
        margin-top: 10px;
    }
}