@import "../../../_scss/variables/colors";
.cmp-footer {
    display: flex;
    background: map-get($colors, bida-informacion);
    height: 30px;
    p {
        margin-left: 80%;
        margin-top: 5px;
        color: white;
    }
}